<launch>

  <arg name="publish_transform" default="True"></arg>

  <group if="$(arg publish_transform)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_calibration" args="0.0099479 0.054964 -0.045365 0.0094738 -0.040901 0.011308 0.99905 realsense_link camera_link" />
  </group>

  <group unless="$(arg publish_transform)"> 
    <arg name="command_args" value="-d $(find tiago_clf_launch)/config/calibrate.rviz" />
    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="$(arg command_args)" output="log"/>
  </group>

</launch>